@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Film Listesi";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width:540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a href="" class="text-white float-right">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageUrl" width="100%" style="min-height:300px;max-height:300px;" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b> @item.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b> @item.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b> @item.StartDate.ToShortDateString()</p>
                            <p class="card-text"><b>End Date:</b>  @item.EndDate.ToShortDateString()</p>
                            <p class="card-text">
                                <b>Status:</b>
                                @if (DateTime.Today >= item.StartDate &&
                               DateTime.Today <= item.EndDate)
                                {
                                    <span class="badge rounded-pill text-bg-success text-black-50">Show Time</span>
                                }
                                else if (DateTime.Today > item.EndDate)
                                {
                                    <span class="badge rounded-pill text-bg-danger text-black-50">Expired</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill text-bg-watning text-black-50">Upcoming</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i>

                                    Detaylar
                                </a>
                                <a class="btn btn-primary float-right">
                                    <i class="bi bi-cart-plus"></i> Sepete Ekle (Price @item.Price.ToString("c"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem","Movies")